* {
  font-family: Roboto, sans-serif;
}

main {
  margin-top: 67px;
}

.parallax {
  position: relative;
  background-image: url("../img/background.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxVingadores {
  position: relative;
  background-image: url("../img/vingadores.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.parallaxCoringa {
  position: relative;
  background-image: url("../img/coringa.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.parallaxDuna {
  position: relative;
  background-image: url("../img/duna.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.parallaxJurassic {
  position: relative;
  background-image: url("../img/jurassic.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.parallaxSonic {
  position: relative;
  background-image: url("../img/sonic.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.parallaxVenom {
  position: relative;
  background-image: url("../img/venom.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.image-text {
  position: absolute;
  width: 100%;
  height: 100%;
}

.image-text h1 {
  font-size: 3rem;
  font-weight: 900;
}

.image-text p {
  font-weight: 300;
}

.image-text button {
  padding: 10px 70px;
  border-radius: 10px;
}

.card {
  transition-property: transform;
  transition-duration: 500ms;
}

.card:hover {
  transform: scale(1.1)
}

.card-body a {
  width: 100%;
}

@media screen and (max-width: 992px) {
  main {
  margin-top: 59px;
}

  .parallax {
    min-height: 800px;
  }

  .parallaxVingadores {
    background-position-y: 59px;
    min-height: 300px;
}

.parallaxCoringa {
  background-position-y: 59px;
    min-height: 300px;
}

.parallaxDuna {
  background-position-y: 59px;
    min-height: 300px;
}

.parallaxJurassic {
  background-position-y: 59px;
    min-height: 300px;
}

.parallaxSonic {
  background-position-y: 59px;
  min-height: 300px;
}

.parallaxVenom {
  background-position-y: 59px;
  min-height: 300px;
}

  .image-text {
    height: auto;
    top: 200px;
  }
}

@media screen and (max-width: 486px) {
    .parallaxVingadores {
    min-height: 200px;
}

.parallaxCoringa {
    min-height: 200px;
}

.parallaxDuna {
    min-height: 200px;
}

.parallaxJurassic {
    min-height: 200px;
}

.parallaxSonic {
    min-height: 200px;
}

.parallaxVenom {
    min-height: 200px;
}
}